<lasso-page package-path="./browser.json"/>

<layout-use("../../../layouts/default/template.marko")>
<layout-put into="title">
    Pool My Ride
</layout-put>
<layout-put into="yield">

<pmr-home />

</layout-put>
</layout-use>